@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 48px;
}
/* button {
  all: unset;
} */

/* =========SECTION======== */
header {
  height: 20vh;
  padding: 0 40px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  gap: 50px;
  align-items: center;
}
header img {
  width: 70px;
  height: 80px;
}
/* =========MAIN======== */
